page-login {
    .loginbutton{
        background-color: #7273cc;
    }
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .title{
        font-family: "Bahnschrift" !important;
        font-size: 1.875em;
        color: #7273cc;
        letter-spacing: 2.5px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
}