page-login {
    .loginbutton{
        background-color: #311b92;
    }
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
}