page-home {
    .createbutton{
        background-color: #7273cc;
    }
    
    .menubutton{
        color: #7273cc;
    }
    
    infinite-scroll{
        $infinite-scroll-loading-text-margin-bottom: 32px;
        $infinite-scroll-loading-margin-end: 40px;	
    }
    .addbutton{
        color:#7273cc;
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    ion-title {
        position: absolute;
        top: 0;
        left: 0;
        padding: 0 90px 1px;
        width: 100%;
        height: 100%;
        text-align: center;
      }
    .card{
        @font-face { 
        font-family: "Bahnschrift" !important;
        src: url("../assets/bahnschrift.ttf");
         
        }
    }
}