page-view-note {
    .createbutton{
        color: #91A8D0;
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .colorbutton{
        color: #91A8D0;
    }

}
