page-create {
    .createbutton{
        color: #7273cc;
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .crbutton{
        background-color:#7273cc;
    }

}
