<ion-header>
  <ion-navbar>
    <ion-title>
      New note
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding no-bounce [style.background-color]="note.color">
  <ion-list inset>
    <ion-buttons class="center">
      <button *ngFor="let colour of availableColours" color="light" icon-only ion-button outline (click)="changeColour(colour)">
        <ion-icon [style.color]="colour" name="water"></ion-icon>
      </button>
    </ion-buttons>
  </ion-list>
  <br>

  <ion-list lines=“none”>
    <ion-item no-lines [style.background-color]="note.color">
      <ion-input type="text" placeholder="Title" [(ngModel)]="note.title" name="title"></ion-input>
    </ion-item>
    <ion-item no-lines [style.background-color]="note.color">
      <ion-textarea placeholder="Note" rows=12 [(ngModel)]="note.description" name="description">{{note.description}}</ion-textarea>
    </ion-item>
    <ion-item no-lines [style.background-color]="note.color">
      <p style="text-align: center"><img src="{{ note.image }}"></p>
    </ion-item>
  </ion-list>
</ion-content>



<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col style="text-align: center">
          <button ion-button icon-only clear (click)="createNote()" class="createbutton">
            <ion-icon name="checkmark"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>

<ion-fab right bottom>
  <button ion-fab mini class="crbutton">
    <ion-icon name="add"></ion-icon>
  </button>
  <ion-fab-list side="top">
    <button ion-button icon-only clear outline (click)="addPhoto()" class="createbutton">
      <ion-icon name="photos"></ion-icon>
    </button>
    <button ion-button icon-only clear outline (click)="takePhoto()" class="createbutton">
      <ion-icon name="camera"></ion-icon>
    </button>
    <button ion-button icon-only clear outline (click)="canvas()" class="createbutton">
      <ion-icon name="color-wand"></ion-icon>
    </button>
    <button ion-button icon-only clear outline (click)="startListening()" class="createbutton">
      <ion-icon name="mic"></ion-icon>
    </button>
    <button ion-button icon-only clear outline (click)="stopListening()" *ngIf="isIos()" class="createbutton">
      <ion-icon name="mic-off"></ion-icon>
    </button>
  </ion-fab-list>
</ion-fab>